- if flash[:notice].present?
  %p.msg.msg-notice
    = flash[:notice]

- if flash[:error].present?
  %p.msg.msg-error
  = flash[:error]

= form_tag search_charity_associations_path, method: 'get', remote: true, id: 'search' do
  %p.search-line
    %span.small-12.medium-3.large-4.field
      = text_field_tag :search_term, params[:search_term], :placeholder => "O que procura?"
    %span.small-12.medium-3.field
      %label{:class => "assist", :for => "tipo_causa"} Tipo de causa
      = select_tag :category_id, options_from_collection_for_select(Category.all.order(:name), :id, :name), :prompt => 'Todas as causas', :id => 'tipo_causa', :data => { :placeholder => 'Escolha uma causa' }
    %span.small-12.medium-3.field
      %label{:class => "assist", :for => "localidade"} Localidade
      = select_tag :city, options_for_select(CharityAssociation.order(:city).uniq.pluck(:city)), :prompt => 'Em Portugal', :id => 'localidade', :data => { :placeholder => 'Escolha uma localidade' }
    %span.small-12.medium-3.large-2
      %button{:type => "submit", :class => "button submit"} Pesquisar

  %ul#steps.steps
    %li
      %p
        %span.icon
          %span
            %img{:src => image_path('icons/i_search.png'), :alt => '', :class => 'i-procurar'}
        %strong Pesquisar
        Encontre as instituições relevantes para uma dada causa ou localização.
    %li
      %p
        %span.icon
          %span
            %img{:src => image_path('icons/i_donate.png'), :alt => '', :class => 'i-doar'}
        %strong Doar
        Use o
        %abbr{:title => "Número de Identificação Fiscal"} NIF
        da instituição para doar parte do seu imposto.

    %li
      %p
        %span.icon
          %span
            %img{:src => image_path('icons/i_heart.png'), :alt => '', :class => 'i-ajudar'}
        %strong Ajudar
        Faça a diferença, dando um apoio ao funcionamento das instituições.


