Search:
= form_tag search_charity_associations_path, method: 'get' do
  %p
    = text_field_tag :search, params[:search]
    = submit_tag "Search"
  %p
    = radio_button_tag :search_field, 'name'
    Name
    = radio_button_tag :search_field, 'city'
    City

%table
  %thead
    %tr
      %th NIF
      %th Activity
      %th Name
      %th City
  %tbody
    - @charity_associations.each do |charity_association|
      %tr
        %td= charity_association.nif
        %td= charity_association.activity_code.try { |ac| "#{ac.name} [#{ac.code}]" }
        %td= charity_association.name
        %td= charity_association.city

%hr
%hr

%table
  %thead
    %tr
      %th Code
      %th Activity
  %tbody
    - @activity_codes.each do |activity_code|
      %tr
        %td= activity_code.code
        %td= activity_code.name
