Search:
= form_tag search_charity_associations_path, method: 'get' do
  %p
    = text_field_tag :search, params[:search]
    = submit_tag "Search"
  %p
    = radio_button_tag :search_field, 'name'
    Name
    = radio_button_tag :search_field, 'city'
    City

%table
  %thead
    %tr
      %th NIF
      %th Name
      %th City
  %tbody
    - @charity_associations.each do |charity_association|
      %tr
        %td= charity_association.nif
        %td= charity_association.name
        %td= charity_association.city
