%h1 Charity Associations Admin

= flash[:notice]
= flash[:error]

%div
  %h3 Import a CSV File
  = form_tag admin_import_path, multipart: true do

    .fieldset
      .div
        = file_field_tag :file
        = submit_tag "Import CSV"

      .div
        = radio_button_tag :info_type, 'charity_associations'
        IPSS
        = radio_button_tag :info_type, 'activity_codes'
        CAE

      .div
        = check_box_tag(:delete_before_import)
        = label_tag(:delete_before_import, "Delete existing data [ipss|cae] before import")
