:javascript
  $(function(){
    $('#search').on('ajax:success', function(event, data) {
      $('#search_results').html(data);
      $('#steps').html('');
    });
  });

.search-box
  .content
    = render :partial => 'charity_associations/search_box'

    #search_results.search-results

.info-box#info
  .content
    %h2 Como funciona

    %p
      Todos os anos, ao entregar a sua declaração do IRS, pode
      %b doar 0.5% do imposto total liquidado pelo Estado
      a uma Instituição de Solidariedade Social, a uma Pessoa Colectiva de
      Utilidade Púbica ou a uma Instituição Religiosa. Esta operação não acarreta nenhuns custos para o contribuinte e
      não afecta o valor a receber em caso de reembolso, pois apenas permite desviar 0.5% do imposto que entraria nos
      cofres do Estado para uma instituição escolhida pelo contribuinte. Este ato, denominado consignação do IRS, é
      regulado pelos n.ºs 4 e 6 do artigo 32.º da Lei n.º 16/2001 de 22 de Junho.

    %p
      Este ano há a possibilidade de ajudar ainda mais pois, além da doação de 0.5% do seu IRS, pode ainda
      %b doar 15% do IVA suportado
      , em faturas de prestações de serviços comunicadas à Autoridade
      Tributária, respeitantes a quatro setores de atividades: reparação de automóveis, reparação de motociclos,
      alojamento e restauração e cabeleireiros ou institutos de beleza. O contribuinte pode assim optar por receber a
      dedução de IVA no IRS ou entregá-la a uma instituição. Neste caso já existem custos para o sujeito passivo,
      pois a contribuição é retirada do seu bolso e não ao Estado.

    %p
      Para tal, basta preencher a sua declaração anual de IRS (em papel ou online) no
      %b quadro 9 (Benefícios Fiscais e Deduções) do anexo H (Instituições Particulares de Solidariedade Social ou Pessoas Coletivas de Utilidade Pública)
      com o número de contribuinte (NIPC) da entidade pretendida e assinalar o tipo de apoio pretendido: consignação do
      IRS, dedução do IVA ou ambos.

    %h2 Sobre o meioporcento.pt

    %p
      Este projecto procura facilitar a pesquisa de entidades elegíveis ao benefício fiscal da consignação de quota do IRS e dedução do IVA.
      Aqui, o contribuinte pode, através da causa ou localização, encontrar a entidade a quem doar parte do seu imposto.

    %p
      A lista de entidades aqui apresentada foi obtida no
      = link_to 'Portal das Finanças', 'http://info.portaldasfinancas.gov.pt/NR/rdonlyres/001D01F0-19AA-4942-A54E-7BE37A7C3DA9/0/Consignacao_colecta_IRS_Lista_entidades.xls', target: '_blank'
      = '.'

    %p
      Para questões relacionadas com o projecto, contacte-nos através do e-mail
      = mail_to 'media@meioporcento.pt'
      = '.'
