= flash[:notice]
= flash[:error]

= form_tag search_charity_associations_path, method: 'get' do
  %p
    = text_field_tag :search_term, nil, placeholder: 'O que procura?'
    = select_tag :activity_code, options_from_collection_for_select(ActivityCode.all, :id, :name), :prompt => 'Todas as causas'
    = select_tag :city, options_for_select(CharityAssociation.uniq.pluck(:city)), :prompt => 'Em Portugal'
    = submit_tag 'Pesquisar'

