!!! Strict
:plain
  <!--[if lte IE 8]><html lang="en-US" class="no-js ie8andlower ie8"><![endif]-->
  <!--[if IE 9]><html lang="en-US" class="no-js ie9"><![endif]-->
  <!--[if !IE]><!--><html lang="en-US" class="no-js"><!--<![endif]-->
%head
  %title meio por cento . pt— Reverta 0.5% do seu IRS a uma instituição de cariz social
  %meta{:name => "viewport", :content => "width=device-width,initial-scale=1"}
  %meta{:"http-equiv" => "X-UA-Compatible", :content => "IE=edge,Chrome=1"}

  = stylesheet_link_tag("application.css")
  = stylesheet_link_tag("small.css", :media => "only screen and (max-width: 40.063em)")

  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

  %script{:src => "//use.typekit.net/twz1zse.js"}
  %script try{Typekit.load();}catch(e){}
- body_classes = params[:action].present? ? "action-#{params[:action]}" : ""
%body{:class => body_classes}
  %header.site-header
    .content
      %h1.site-title<>
        %a.site-root{:href => root_path}
          %span meio por cento
        %a.info{:href => "#info"}
          %span.assist mais informação

      - if content_for?(:subtitles)
        = yield(:subtitles)
      - else
        %p.sub-title A forma mais fácil de ajudar.
        %p.sub-sub-title
          Reverta
          %b 0.5%
          do seu
          %abbr{:title => "Imposto sobre o Rendimento das Pessoas Singulares"} IRS
          a uma instituição de cariz social.

  = yield

  %footer.content.text-center
    &copy; 2015 — meioporcento.pt
