!!! Strict
:plain
  <!--[if lte IE 8]><html lang="en-US" class="no-js ie8andlower ie8"><![endif]-->
  <!--[if IE 9]><html lang="en-US" class="no-js ie9"><![endif]-->
  <!--[if !IE]><!--><html lang="en-US" class="no-js"><!--<![endif]-->
%head
  %title Meio Por Cento
  %meta{:name => "viewport", :content => "width=device-width,initial-scale=1"}
  %meta{:name => "description", :content => "Reverta 0.5% do seu IRS e/ou 15% de parte do seu IVA suportado a uma instituição de cariz social"}
  %meta{:name => "keywords", :content => "consignação irs iva impostos irs2014 irs2015 anexoH modelo3 IPSS instituição particular de solidariedade social cariz social"}
  %meta{:"http-equiv" => "X-UA-Compatible", :content => "IE=edge,Chrome=1"}

  %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "/favicon.ico"}
  %link{:rel => "apple-touch-icon", :href => image_path("icons/touch-icon-76.png")}
  %link{:rel => "apple-touch-icon", :sizes => "76x76", :href => image_path("icons/touch-icon-76.png")}
  %link{:rel => "apple-touch-icon", :sizes => "120x120", :href => image_path("icons/touch-icon-120.png")}
  %link{:rel => "apple-touch-icon", :sizes => "152x152", :href => image_path("icons/touch-icon-152.png")}

  %meta{:property => "og:title", :content => "Meio Por Cento"}
  %meta{:property => "og:type", :content => "website"}
  %meta{:property => "og:url", :content => "http://www.meioporcento.pt/"}
  %meta{:property => "og:image", :content => "http://www.meioporcento.pt" + image_path("opengraph.png")}
  %meta{:property => "og:description", :content => "Este projeto procura facilitar a pesquisa de entidades elegíveis ao benefício fiscal da consignação de quota do IRS e dedução do IVA. Aqui, o contribuinte pode, através da causa ou localização, encontrar a entidade a quem doar parte do seu imposto."}

  = stylesheet_link_tag("application.css")
  = stylesheet_link_tag("small.css", :media => "only screen and (max-width: 40.063em)")

  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

  %script{:src => "//use.typekit.net/twz1zse.js"}
  %script try{Typekit.load();}catch(e){}
- body_classes = params[:action].present? ? "action-#{params[:action]}" : ""
%body{:class => body_classes}
  %header.site-header
    .content
      - if true
        %h1.site-title.site-title-graphic<>
          %a.site-root{:href => root_path}
            %span meio por cento
      - else
        %h1.site-title<>
          %a.site-root{:href => root_path}
            %span meio por cento

      - if content_for?(:subtitles)
        = yield(:subtitles)
      - else
        %p.sub-sub-title
          A forma mais fácil de ajudar.
          Reverta
          %b 0.5%
          do seu
          %abbr{:title => "Imposto sobre o Rendimento das Pessoas Singulares"} IRS
          e/ou
          %b 15%
          de parte do seu
          %abbr{:title => "Imposto sobre o Valor Acrescentado"}IVA
          suportado para uma instituição de cariz social.
    %nav
      %ul
        %li
          %a{:href => "#about-info", :data => { :reveal_id => "about-info" }} Sobre
        %li
          %a{:href => "#ipss-info", :data => { :reveal_id => "ipss-info" }} Como funciona?

  = yield

  %footer.content.text-center
    &copy; 2015 — meioporcento.pt

  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '#{Rails.application.config.google_analytics_key}', 'auto');
    ga('send', 'pageview');
